@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
      font-family: "Proxima Nova", system-ui, sans-serif;
    }
  }
.active{
    color: #0ab39c;
}

#showtimes .active{
  color: #ffffff;
  background-color: rgb(250, 115, 115);
  border: none;
  
}

#dates .active{
  color: #e4e1e1;
  background-color: #dc2626;
  
  
}

#times .active{
  color: #e4e1e1;
  background-color: #8a7474;
  
  
}